<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:commonrpc="http://www.izhuan365.com/commonrpc"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.izhuan365.com/commonrpc
		http://www.izhuan365.com/commonrpc/commonrpc.xsd">

    <!-- 加载配置属性文件 -->
    <context:property-placeholder ignore-unresolvable="true" location="classpath:project.properties"/>

    <bean class="com.commonrpc.demo.util.KryoInit"/>
    <!--
        address：zookeeper 注册中心地址
        providerFlag：标记是提供者还是消费者
        timeout：zookeeper连接超时时间
    -->
    <commonrpc:application id="rpcRegistryApplication" address="${zookeeper.addrs}"
                           timeout="${zookeeper.timeout}" providerFlag="true"/>

    <!--
        port：对外提供服务访问的端口
        timeout：（netty连接用到，具体不知道干嘛的）
        procotolType：协议类型
        codecType：数据编码类型（JAVA_CODEC = 1,HESSIAN_CODEC = 2,PB_CODEC = 3,KRYO_CODEC = 4）
        group：服务所在的组
        threadCount：用于处理rpc请求的线程数
     -->
    <commonrpc:registry id="rpcRegistry"
                        port="${commonrpc.registry.port}" timeout="2000"
                        codecType="${commonrpc.registry.codecType}"
                        group="${commonrpc.registry.group}"
                        threadCount="${commonrpc.registry.threadCount}"/>

    <bean id="demoService" class="com.commonrpc.demo.provider.DemoServiceImpl"/>
    <bean id="demoRpcFilter" class="com.commonrpc.demo.rpcfilter.DemoRpcFilter"/>
    <commonrpc:service ref="demoService" filterRef="demoRpcFilter"/>

    <commonrpc:service class="com.commonrpc.demo.provider.DemoService2Impl" codecType="2"/>


</beans>
