<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:commonrpc="http://www.izhuan365.com/commonrpc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.izhuan365.com/commonrpc
        http://www.izhuan365.com/commonrpc/commonrpc.xsd">

    <!-- 加载配置属性文件 -->
    <context:property-placeholder ignore-unresolvable="true" location="classpath:project.properties"/>

    <!--
        address：zookeeper 注册中心地址
        providerFlag：标记是提供者还是消费者
        timeout：zookeeper连接超时时间
    -->
    <commonrpc:application address="${zookeeper.addrs}" providerFlag="false"
                           timeout="${zookeeper.timeout}"/>

    <!--
        interfacename：接口名称
        procotolType：协议类型
        codecType：数据编码类型（JAVA_CODEC = 1,HESSIAN_CODEC = 2,PB_CODEC = 3,KRYO_CODEC = 4）
        timeout：调用远程服务时，服务调用超时时间
        group：服务所在的组（可以同时支持多组，以符合,隔开）
     -->
    <commonrpc:reference id="demoService" interface="com.commonrpc.demo.sdk.DemoService" codecType="${commonrpc.registry.codecType}" group="${commonrpc.registry.group}"/>
    <commonrpc:reference id="demoService2" interface="com.commonrpc.demo.sdk.DemoService2" codecType="${commonrpc.registry.codecType}" group="${commonrpc.registry.group}"/>


</beans>
